body {
  background-image: url("images/cover.jpg");
  background-repeat: repeat;
}
.container {
  background-color: orange;
  padding: 40px;
  margin: 0 auto;
}

h1 {
  font-family: "Metal Mania", cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
}

.card:hover {
  animation: shake 0.5s linear;
}

.serv ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.3%;
  overflow: hidden;
}

.serv ul li {
  padding: 5px;
  list-style: none;
  flex: 0 0 33%;
}

.battle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#battle {
  background-image: url(images/arena.jpg);
  background-size: 100% 100%;
}

.attackEnemy {
  position: relative;
  animation-name: moveRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.attackHero {
  position: relative;
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.blink {
  position: relative;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes moveLeft {
    0% {
      right: 0px;
    }
    25% {
      right: 100px;
    }
    50% {
      right: 200px;
    }
    75% {
      right: 100px;
    }
    100% {
      right: 0px;
    }
  }

@keyframes moveRight {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 200px;
  }
  75% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(0px);
  }

  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}